@font-face {
    font-family: MyriadBlack;
    src: local(MyriadBlack), url('../fonts/Myriad\ Pro\ Black.otf')
}

@font-face {
    font-family: MyriadBold;
    src: local(MyriadBold), url('../fonts/Myriad\ Pro\ Bold.ttf')
}

@font-face {
    font-family: MyriadLight;
    src: local(MyriadLight), url('../fonts/Myriad\ Pro\ Light.otf')
}

@font-face {
    font-family: MyriadRegular;
    src: local(MyriadRegular), url('../fonts/Myriad\ Pro\ Regular.ttf')
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --orange-color: #ed4916;
    --gray-color: #9a9a9a;
    --border-radius: 5px;
    --font-black: MyriadBlack;
    --font-bold: MyriadBold;
    --font-light: MyriadLight;
    --font-regular: MyriadRegular;
}

body{
    font-size: 16px;
    font-family: MyriadRegular;
}

@media (min-width: 410px){
    body{
        font-size: 14px;
    }
}

@media (min-width: 720px){
    body{
        font-size: 16px;
    }
}