header {
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    flex-wrap: wrap;
}

header nav {
    width: 100%;
    height: 10vh;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

header nav .logo {
    width: 48%;
    height: auto;
}

header nav .logo img {
    width: 100%;
    height: auto;
}

header nav .menu{
    width: auto;
    cursor: pointer;
    list-style: none;
}

header nav .menu span{
    padding: 10px;
    font-size: 2em;
    font-weight: bold;
}

header nav .menu:hover .itens{
    display: block;
}

header nav .menu .itens{
    display: none;
    position: absolute;
    list-style: none;
}

header nav .menu .itens .navbar-nav{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;    
    text-align: right;
    margin: 5px 0px;
}

header nav .menu .itens a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

header nav .menu .itens{
    width: 100px;
    display: none;
    position: absolute;
    list-style: none;
    margin-left: -60px;
}

header .head {
    width: 100%;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header .head .text-content {
    width: 90%;
    padding: 0px 8%;
}

header .head .text-content .text-destaque {
    font-size: 1em;
    margin: 2px 0px;
    font-family: var(--font-regular);
    text-transform: uppercase;
    letter-spacing: 1px;
    word-wrap: normal;
    line-height: normal;
}

header .head .text-content .title-destaque {
    text-transform: uppercase;
    font-family: var(--font-bold);
    font-size: 1.5em;
}

header .head .text-content button {
    margin-top: 5px;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 0.8em;
    color: white;
    background-color: var(--orange-color);
    font-family: var(--font-light);
    border: none;
    border-radius: var(--border-radius);
}

header .head .img-content {
    width: 100%;
    display: flex;
    flex: 2;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

header .head .img-content div {
    min-width: 150px;
    min-height: 150px;
    max-width: 45%;
    max-height: 45%;
    border-radius: var(--border-radius);
    overflow: hidden;
    cursor: pointer;
}

header .head .img-content div:hover img {
    transform: scale(1.3);
}

header .head .img-content div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all ease-in 0.5s;
}

/* MAIN  */

main {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding: 2% 10%;
    background-color: var(--gray-color);
}

main header {
    width: 100%;
    height: auto;
    margin: auto;
    background: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 2px solid black;
}


main header div {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}

main header div p {
    width: 100%;
    height: auto;
    font-size: 0.4em;
    color: black;
    text-align: center;
    font-family: var(--font-regular);
}

main header div .destaque {
    font-size: 2em;
    font-family: var(--font-regular);
    color: black;
}

main .details-content {
    width: 100%;
    margin: 5vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    gap: 10px;
}

main .details-content div {
    width: 80%;
}

main .details-content div details {
    width: 100%;
    margin: 1vh auto;
    padding: 10px;
    background-color: white;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

main .details-content div details:hover {
    background-color: var(--orange-color);
    color: white;
}

main .details-content div details:hover img{
    filter: invert(1);
}

main .details-content div details summary {
    width: 100%;
    display: flex;
    padding: 0px 5px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    list-style: none !important;
    list-style-type: none !important;
}

main .details-content div details summary span {
    font-size: 1.5em;
}

main .details-content div details summary img {
    width: 20px;
    height: 20px;
    transition: all ease-in-out 0.3s;
}


/* Historia  */
.history {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
}

.history .logo {
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    top: -50px;
    position: relative;
}

.history .logo img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.history .history-content {
    position: relative;
    width: 90%;
    height: auto;
    margin: 0px auto;
    margin-top: 0vh;
    padding: 2%;
    color: white;
    background-color: var(--orange-color);
    border-radius: var(--border-radius);
}

.history .history-content h3 {
    font-size: 2em;
    text-align: center;
}

.history .history-content p {
    font-size: 1em;
    text-align: center;
    margin: 5% auto;
}

/* Clientes */
.clientes {
    width: 100%;
    height: 100vh;
    background-color: black;
}

.clientes div {
    width: 70%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: black;
}

.clientes div img {
    width: 20%;
    height: auto;
    object-fit: contain;
}

/* Footer */
footer {
    width: 100%;
    height: 100vh;
    background-image: url('../img/rodape_small.webp');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 20px;
}

footer .redes {
    width: 20%;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

footer .redes a{
    width: 45%;
}

footer .redes a img {
    width: 100%;
    height: auto;
    filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
}

footer .local {
    width: 75%;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    color: white;
    text-align: right;
    padding: 10px;
    font-family: var(--font-light);
}

footer .local p .title {
    font-size: 1em;
    text-shadow: 0px 0px 1px black;
}

footer .local p span {
    font-size: 0.8em;
    text-shadow: 0px 0px 1px black;

}


@media (min-width: 720px) {
    header {
        width: 100%;
        height: 100vh;
        background: white;
        display: flex;
        flex-wrap: wrap;
    }

    header nav {
        width: 80%;
        height: 8vh;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav .logo {
        width: 25%;
        height: auto;
        margin-left: -30px;
    }

    header nav .logo img {
        width: 60%;
        height: auto;
    }

    header .head {
        width: 80%;
        height: 90vh;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }

    header .head .text-content {
        width: 40%;
        padding: 0px 8%;
    }

    header .head .text-content .text-destaque {
        font-size: 1em;
        margin: 2px 0px;
        font-family: var(--font-regular);
        text-transform: uppercase;
    }

    header .head .text-content .title-destaque {
        text-transform: uppercase;
        font-family: var(--font-bold);
        font-size: 1.5em;
    }

    header .head .text-content button {
        margin-top: 5px;
        padding: 15px 20px;
        cursor: pointer;
        font-size: 0.8em;
        color: white;
        background-color: var(--orange-color);
        border: none;
        border-radius: var(--border-radius);
    }

    header .head .img-content {
        width: 50%;
        display: flex;
        flex: 2;
        flex-wrap: wrap;
        gap: 10px;
    }

    header .head .img-content div {
        width: 45%;
        height: 45%;
        border-radius: var(--border-radius);
        overflow: hidden;
        cursor: pointer;
    }

    header .head .img-content div:hover img {
        transform: scale(1.3);
    }

    header .head .img-content div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: all ease-in 0.5s;
    }

    /* MAIN  */

    main {
        width: 100%;
        height: 100vh;
        margin: auto;
        padding: 2% 10%;
        background-color: var(--gray-color);
    }

    main header {
        width: 80%;
        height: auto;
        margin: auto;
        background: none;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 50px;
        border-bottom: 2px solid black;
    }


    main header div {
        width: 18%;
        display: flex;
        flex-wrap: wrap;
        align-items: start;
    }

    main header div p {
        width: 100%;
        height: auto;
        font-size: 0.7em;
        color: black;
        text-align: center;
    font-family: var(--font-regular);
    }

    main header div .destaque {
        font-size: 3em;
        font-family: var(--font-regular);
        color: black;
    }

    main .details-content {
        width: 80%;
        margin: 10vh auto;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        gap: 20px;
    }

    main .details-content div {
        width: 50%;
    }

    main .details-content div details {
        width: 100%;
        margin: 2vh auto;
        padding: 10px;
        background-color: white;
        border-radius: var(--border-radius);
        cursor: pointer;
    }

    main .details-content div details summary {
        width: 100%;
        display: flex;
        padding: 0px 5px;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        list-style: none !important;
        list-style-type: none !important;
    }

    main .details-content div details summary span {
        font-size: 1.5em;
    }

    main .details-content div details summary img {
        width: 30px;
        height: 30px;
    }


    /* Historia  */
    .history {
        width: 100%;
        height: 100vh;
        background-color: white;
        position: relative;
    }

    .history .logo {
        width: 100px;
        height: 100px;
        margin: auto;
        background-color: white;
        border-radius: 50%;
        overflow: hidden;
        top: -50px;
        position: relative;
    }

    .history .logo img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .history .history-content {
        position: relative;
        width: 60%;
        height: auto;
        margin: auto;
        margin-top: 5vh;
        padding: 2%;
        color: white;
        background-color: var(--orange-color);
        border-radius: var(--border-radius);
    }

    .history .history-content h3 {
        font-size: 3em;
        text-align: center;
    }

    .history .history-content p {
        font-size: 1em;
        text-align: center;
        margin: 50px auto;
    }

    /* Clientes */
    .clientes {
        width: 100%;
        height: 100vh;
        background-color: black;
    }

    .clientes div {
        width: 70%;
        height: 100vh;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        background-color: black;
    }

    .clientes div img {
        width: 20%;
        height: auto;
        object-fit: contain;
    }

    /* Footer */
    footer {
        width: 100%;
        height: 100vh;
        background-image: url('../img/rodape_med.webp');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-wrap: nowrap;
        justify-content: left;
        align-items: flex-end;
        padding-bottom: 20px;
    }

    footer .redes {
        width: 20%;
        height: 100px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;        
    }

    footer .redes a{
        width: 20%;
    }

    footer .redes a img {
        width: 70%;
        height: auto;
        margin: 10px;
    }

    footer .local {
        width: 60%;
        height: 100px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        color: white;
        font-family: var(--font-regular);
        text-align: right;
    }

    footer .local p span {
        font-size: 1em;
        text-shadow: 0px 0px 1px black;
    }

    footer .local p .title {
        font-size: 1.5em;
        text-shadow: 0px 0px 1px black;
    }

}